<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FilesDAO">
	<insert id="insert" statementType="CALLABLE" parameterType="files">
		{ 	call files_ins_proc(
				#{tablename},
				#{tablenum},
				#{filename},
				#{realfilename},
				#{filesize},		
				#{filenum, mode=OUT, jdbcType=VARCHAR, javaType=string},
				#{out_msg, mode=OUT, jdbcType=VARCHAR, javaType=string}		
			)
		}	
	</insert>
	
	<update id="update" parameterType="files">
		update files
		<set> 
			<if test="tablename != null and tablename != ''">
				tablename = #{tablename}
			</if>
			<if test="tablenum != null and tablenum != ''">
				tablenum = #{tablenum}
			</if>
			<if test="filename != null and filename != ''">
				filename = #{filename}
			</if>
			<if test="realfilename != null and realfilename != ''">
				realfilename = #{realfilename}
			</if>
			<if test="filesize != null and filesize != ''">
				filesize = #{filesize}
			</if>
		</set>
		where filenum = #{filenum}			
	</update>
	
	<update id="updateName" parameterType="files">
		update files set realfilename = #{realfilename} 
		<where>
			<if test="tablename != null and tablename != ''">
				tablename = #{tablename}
			</if>
			<if test="tablenum != null and tablenum != ''">
				and tablenum = #{tablenum}
			</if>
			<if test="filenum != null and filenum != ''">
				and filenum = #{filenum}
			</if>
		</where>
	</update>		
	
	<delete id="delete">
		update files set
		state = '2'
		where filenum = #{filenum}
	</delete>
	
	<select id="select" resultType="files">
		select *
		from files
		where filenum = #{filenum} 
	</select>
	
	<select id="selectAll" parameterType="files" resultType="files">
		select *
		from files		
		where state = '1'
		<if test="tablename != null">
			and tablename = #{tablename}
		</if>		
		<if test="tablenum != null">
			and tablenum = #{tablenum}
		</if>		
	</select>
</mapper>