<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberDAO">		
	
	<select id="selectAll" parameterType="memberSearch" resultType="member"><!-- parameter가 받는다, result가 service에게 보낸다 -->
		select * from member 			 
	</select>
	
	<select id="select" parameterType="memberSearch" resultType="member">
		select * from member
		<where>
			<if test="membernum != null and membernum != ''">
				membernum = #{membernum}
			</if>
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
			<if test="nickname != null and nickname != ''">
				and nickname = #{nickname}
			</if>
		</where>
	</select>
	
	<select id="selectShare" parameterType="map" resultType="member">
		select * from member
		<where>
			<if test="id1 != null and id1 != ''">
				id = #{id1}
			</if>
			<if test="id2 != null and id2 != ''">
				or id = #{id2}
			</if>
			<if test="id3 != null and id3 != ''">
				or id = #{id3}
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="member" ><!-- memberVO형태로 받아서 DB에 입력한다 -->
		insert into member(membernum,id,password,regdate,state,nickname)
		values (member_seq.nextval,#{id},#{password},sysdate,'1',#{nickname}) 			 
	</insert>
	
	<update id="update" parameterType="member">
		update member
		<set>
			<if test="password != null and password != ''">
				password = #{password}
			</if>
			<if test="state != null and state != ''">
				state = #{state}
			</if>
			<if test="nickname != null and nickname != ''">
				nickname = #{nickname}
			</if>
			
		</set>
		where membernum = #{membernum}
	</update>

	<delete id="delete" parameterType="member">
		<![CDATA[
		delete from member
		where membernum = #{membernum}
		]]>
	</delete>
</mapper>