<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlanDAO">

	<!-- 플랜 전체조회 -->
	<select id="selectAll" parameterType="planSearch" resultType="plan">
		SELECT P.PLANNUM, P.ID "userid", P.PLANNAME, P.STATE, NVL(likecount, '0') "likecount"
		, (SELECT REALFILENAME FROM FILES WHERE TABLENAME='plan' AND TABLENUM = P.PLANNUM AND STATE=1 AND ROWNUM=1) AS imagename
		FROM PLAN P LEFT OUTER JOIN
		(SELECT PLANNUM,
		COUNT(PLANNUM) AS likecount FROM LIKEPLAN GROUP BY PLANNUM) L
		ON P.PLANNUM = L.PLANNUM
		<where>
			<if test="period1 != null and period1 != ''">
				ARRIVALDATE-DEPARTUREDATE+1 BETWEEN #{period1} AND
				#{period2}
				AND ISOPEN = '1'
				AND STATE = '1'
			</if>
			<if test="city != null and city != ''">
				AND P.PLANNUM IN (SELECT DISTINCT T.PLANNUM FROM PLANTABLE T
				JOIN PLACE W
				ON T.PLACENUM = W.PLACENUM
				WHERE W.CITY LIKE '%' || #{city} || '%')
			</if>
			<if test="membernum != null and membernum != ''">
				AND P.PLANNUM IN (SELECT PLANNUM FROM LIKEPLAN
				WHERE MEMBERNUM = #{membernum})
			</if>
			<if test="id != null and id != ''">
				AND P.ID = #{id}
			</if>
			<if test="categorynum != null and categorynum != ''">
				AND P.CATEGORYNUM = #{categorynum}
			</if>
			<if test="plannum_list != null and plannum_list != ''">
				AND P.PLANNUM IN (${plannum_list})
			</if>
		</where>
		<choose>
			<when test="plan_sort != null and plan_sort != ''">
				ORDER BY likecount DESC
			</when>
			<otherwise>
				ORDER BY writedate DESC
			</otherwise>
		</choose>
	</select>

	<select id="select" parameterType="planSearch" resultType="plan">
			SELECT *
			FROM PLAN
			WHERE PLANNUM = #{plannum}
	</select>
	
	<select id="selectShare" parameterType="sharePlan" resultType="sharePlan">
		select * from shareplan
		<where>
			<if test="keyword != null and keyword != ''">
				(writer = #{keyword}
				or member1 = #{keyword}
				or member2 = #{keyword}
				or member3 = #{keyword})
			</if>
			<if test="plannum != null and plannum != ''">
				and plannum = #{plannum}
			</if>
			
		</where>
	</select>
	
	<!-- 임시 -->
	<select id="selectSeq" parameterType="plan" resultType="plan">
		select * from plan
		where plannum in (select max(plannum) from plan)
	</select>

	<insert id="insert" statementType="CALLABLE" parameterType="plan">
		insert into plan (plannum, planname, departuredate, arrivaldate, people, categorynum, isopen, state)
		values (plan_seq.nextval, #{planname}, to_date(#{departuredate}, 'yy/mm/dd'), to_date(#{arrivaldate}, 'yy/mm/dd'), #{people}, #{categorynum}, #{isopen}, #{state})
		<!-- { 	CALL PLAN_INS_PROC(
			#{planname},
			#{people},
			#{categorynum},
			#{isopen},
			#{state},
			#{plannum, mode=OUT, jdbcType=VARCHAR, javaType=string}
			)
		} -->
	</insert>
	
	<insert id="insertShare" parameterType="map">
		INSERT INTO SHAREPLAN (SHARENUM, PLANNUM, MEMBER1, MEMBER2, MEMBER3, WRITER)
		VALUES (shareplan_seq.nextVal, #{plannum}, #{member1}, #{member2}, #{member3}, #{writer})
	</insert>

	<update id="update" parameterType="plan">
		UPDATE PLAN
		<set>
			<if test="planname != null and planname != ''">
				PLANNAME = #{planname},
			</if>
			<if test="departuredate != null and departuredate != ''">
				DEPARTUREDATE = #{departuredate},
			</if>
			<if test="arrivaldate != null and arrivaldate != ''">
				ARRIVALDATE = #{arrivaldate},
			</if>
			<if test="people != null and people != ''">
				PEOPLE = #{people},
			</if>
			<if test="categorynum != null and categorynum != ''">
				CATEGORYNUM = #{categorynum},
			</if>
			<if test="isopen != null and isopen != ''">
				ISOPEN = #{isopen},
			</if>
			<if test="state != null and state != ''">
				STATE = #{state}
			</if>
		</set>
		WHERE PLANNUM = #{plannum}
	</update>

	<delete id="delete" parameterType="plan">
		<![CDATA[
		DELETE FROM PLAN
		WHERE PLANNUM = #{plannum}
		]]>
	</delete>
</mapper>