<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PlanTableDAO">		

	<insert id="insert" statementType="CALLABLE" parameterType="planTableSearch">
		{ 	call plantable_ins_proc(
				#{plannum},
				#{day},
				#{staytime},
				#{sortnum},
				#{fix},
				#{tr},
				#{placenum},
				#{plantablenum, mode=OUT, jdbcType=VARCHAR, javaType=string}
			)
		}
	</insert>
	
	<update id="update" parameterType="planTableSearch">
		UPDATE PLANTABLE
		<set>
			<if test="day != null and day != ''">
				DAY = #{day},
			</if>
			<if test="tr != null and tr != ''">
				TR = #{tr},
			</if>
			<if test="fix != null and fix != ''">
				FIX = #{fix},
			</if>
			<if test="staytime != null and staytime != ''">
				STAYTIME = #{staytime},
			</if>
			<if test="sortnum != null and sortnum != ''">
				SORTNUM = #{sortnum},
			</if>
			<if test="placenum != null and placenum != ''">
				PLACENUM = #{placenum},
			</if>
		</set>
		WHERE PLANTABLENUM = #{plantablenum}
	</update>
	
	<delete id="delete" parameterType="planTableSearch">
		DELETE FROM PLANTABLE
		WHERE PLANTABLENUM = #{plantablenum}
	</delete>
	
	<select id="selectPT" parameterType="planTable" resultType="planTable">
		SELECT PLANTABLE.*
		, (SELECT REALFILENAME FROM FILES WHERE TABLENAME='plan' AND TABLENUM = PLANTABLE.PLANNUM AND STATE=1 AND ROWNUM=1) AS imagename
		FROM PLANTABLE
		WHERE PLANNUM = #{plannum}
	</select>	
</mapper>