<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostDAO">

	<select id="selectPost" parameterType="post" resultType="post">
		<![CDATA[
			SELECT *
			FROM POST
			WHERE PLANNUM = #{plannum}
			ORDER BY DAY, TR
		]]>
	</select>

	<select id="select" parameterType="planTable" resultType="planTable">
		<![CDATA[
			SELECT * 
			FROM PLANTABLE
			WHERE PLANNUM = #{plannum}
			ORDER BY DAY, TR
		]]>
	</select>
	
	<insert id="insert"  statementType="CALLABLE" parameterType="post">
			{ 	call post_ins_proc(
				#{post},
				#{plantablenum},
				#{plannum},
				#{day},
				#{tr},
				#{postnum, mode=OUT, jdbcType=VARCHAR, javaType=string}
			)
		}
	</insert>

	<update id="update" parameterType="post">
		UPDATE POST
		<set>
			<if test="post != null and post != ''">
				POST = #{post},
			</if>
			<if test="plantablenum != null and plantablenum != ''">
				PLANTABLENUM = #{plantablenum},
			</if>
			<if test="plannum != null and plannum != ''">
				PLANNUM = #{plannum}
			</if>
		</set>
				WHERE POSTNUM in (${postnum})
	</update>

	<delete id="delete" parameterType="post">
		DELETE FROM POST
		<where>
			<if test="postnum != null and postnum != ''">
				POSTNUM = #{postnum}
			</if>
			<if test="day != null and day != ''">
				AND DAY = #{day}
			</if>
			<if test="plannum != null and plannum != ''">
				AND PLANNUM = #{plannum}
			</if>
		</where>
	</delete>
</mapper>