@charset "UTF-8";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* Style the header */
.header {
	background-color: whitesmoke;
	padding: 50px;
	/* text-align: center; */
	/* margin-left: 300px; */
}

/* Container for flexboxes */
.footer {
	display: -webkit-flex;
	display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
	padding: 10px;
	/* height: 200px; /* Should be removed. Only for demonstration */
	
}

/* Left column */
.column.divNav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	/* position: fixed;
   left: 0px;
   bottom: 0px; */
}

/* Middle column */
.column.divMain {
	-webkit-flex: 2;
	-ms-flex: 4;
	flex: 4;
}

#planName {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
}

/*공개여부*/
#isopen {
	float: left;
	/* margin: 5px; */
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 32px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 40px;
}

.slider.round:before {
	border-radius: 50%;
}
/*공개여부끝*/
.planCate {
	width: 120px;
}

.tab {
	overflow: hidden;
	/* border: 1px solid #ccc; */
	background-color: whitesmoke;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ff8f00;
	color: whitesmoke;
	font-weight: bold;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}

.tablinks {
	width: 50%;
}

#map {
	width: 100%;
	height: 100%;
}

.redips-drag {
	cursor: move;
	margin: auto;
	z-index: 10;
	color: #222;
	text-align: center;
	font-size: 10pt;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	width: 180px; /* table1 td item size */
	height: 50px;
	line-height: 20px;
	border: 1px solid #555;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

div#redips-drag table {
	/* background-color: #eee; /* table2 background-color */ */
	border-collapse: collapse;
}

#table1 td, #table2 td {
	border-style: solid;
	border-width: 1px;
	border-color: white; /* 모든 table td border-color */
	width: 200px;
	height: 60px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}

div#redips-drag #table1 td {
	border-width: 0px 0px 1px 0px;
}

div#redips-drag #table1 div {
	margin-left: 5px;
	float: left;
}

.ar {
	background-color: #AAC8E2;
}

.bi {
	background-color: #E7D783;
}

.ch {
	background-color: #E99AE6;
}

.dark {
	color: #444;
	background-color: whitesmoke;	/* 테이블 컬럼 색 */
}

.button_container {
	padding-top: 10px;
	text-align: right;
}

/* "Save" button */
.button_container input {
	background-color: #6A93D4;
	color: white;
	border-width: 1px;
	width: 40px;
	padding: 0px;
}

#searchTable td {
	width: 200px;
}

.searchInput {
	/* background-image: url('/css/searchicon.png'); */
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#trashTb {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #DC4C46;
	color: whitesmoke;
}